h1 {
  font-size: 2.5rem;
  line-height: 120%; }

.colorPaletteSwatch {
  display: block;
  min-height: 40px; }

.colorPaletteCSS {
  font-size: .8em;
  line-height: 1em;
  height: 10em; }

.colorPaletteControl .slider {
  margin: .75rem 0 2.5rem 0; }
